frontend/parceltracker/parceltracker.xcodeproj/** linguist-generated=true
frontend/parceltracker/parceltracker/Assets.xcassets/** linguist-generated=true
frontend/parceltracker/parceltracker/Base.lproj/** linguist-generated=true
frontend/parceltracker/parceltracker/Info.plist linguist-generated=true
frontend/parceltracker/parceltracker/Preview Content/** linguist-generated=true
