# Xcode

## User settings
frontend/parceltracker/xcuserdata/
*.xcuserstate
**/.DS_Store
## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9

## xcodeproj needs to be generated using https://github.com/yonaskolb/XcodeGen command 'xcodegen generate'
*.xcodeproj/

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
frontend/parceltracker/build/
frontend/parceltracker/DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
frontend/parceltracker/*.gcno

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
frontend/parceltracker/timeline.xctimeline
frontend/parceltracker/playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

frontend/parceltracker/.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# frontend/parceltracker/Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

frontend/parceltracker/Carthage/Build/

# Accio dependency management
frontend/parceltracker/Dependencies/
frontend/parceltracker/.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

frontend/parceltracker/fastlane/report.xml
frontend/parceltracker/fastlane/Preview.html
frontend/parceltracker/fastlane/screenshots/**/*.png
frontend/parceltracker/fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

frontend/parceltracker/iOSInjectionProject/
